<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Management</title>
</head>
<body>
    <table class= "table table-sortable">
    <thead>
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Author</th>
            <th>Published date</th>
            <th>Category</th>
            <th>Vote</th>
        </tr>       
    </thead>
    <tbody>

        
        </tr>  
        <% if (books.length > 0) { %>
            <% books.forEach(book => { %>
                <tr>
                    <th class="title"> <%= book.title %></th>
                    <th class="author"> <%= book.author %></th>
                    <th class="date"> <%= book.date %></th>
                    <th class="category"> <%= book.category %></th>
                    <th class="vote"> <%= book.vote %></th>
                </tr>
            <% }) %>
        <% } %> 
    </tbody>
        
    </table>
    
</body>
</html>